{{#section 'head'}}
<link rel="stylesheet" href="/style/gallery.css">
<link rel="stylesheet" href="photoswipe/dist/photoswipe.css">
<script  type="module">
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>
{{/section}}
<div id="gallery">
{{#each images}}
<a href="{{this.full}}">
    <img src="{{this.thumbnail}}"></img>
</a>
{{/each}}
</div>