
    <nav id="nav-bar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/wiki/index">Wiki</a>
            </li>
            <li>
                <a href="/gallery">Gallerie</a>
            </li>
        </ul>
    </nav>